
* {
    box-sizing: border-box;
}

img,
.Menus {
    max-height: 100vh;
}

/* configurator container */

.Config {
    display: flex;
    justify-content: center;
    max-width: 45rem;
}

/* Product */

.Product {
    position: relative;
    flex: 2;
    margin-left: 1rem;
}

.ProductItem {
    position: absolute;
    max-width: 100%;
}

.FeatureDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ddd;
}

/* Menu */

.Menus {
    background-color:#EBEEF3;
    padding: 1.5rem;
    font-size: 1.2rem;
    flex:1;
}

.Menu {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.Menu-list {
    border:none;
    outline: none;
    margin-bottom: 1rem;
}

.Menu-title {
   margin:0.5rem 1rem; 
   display: flex;
   justify-content: center;
}