
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Config {
    display: flex;
    justify-content: center;
}

/*.Menus,
.Product,
.FeatureDescription {
    display: inline-block;
}*/

.Menus {
    background-color: #ddd;
    padding: 3rem;
    min-width: 14rem;

}

.Menu {
    display: flex;
    flex-direction: column;
}

.Menu-list {
    border:none;
    outline: none;
    margin-bottom: 1rem;
}

.Menu-title {
   margin:0.5rem 1rem; 
   display: flex;
   justify-content: center;
}
.Product {
    min-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FeatureDescription {
    min-width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}